In [1]:
import numpy as np
import pandas as pd
import requests

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

r = requests.get(url)
df_list = pd.read_html(r.text) 
df = df_list[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
df.shape

(180, 3)

In [5]:
df.describe()

       Postal Code       Borough  Neighborhood
count          180           180           180
unique         180            11           100
top            M1M  Not assigned  Not assigned
freq             1            77            77

In [3]:
df['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

<h2>Remove Not Assigned Boroughs</h2>

In [6]:
df.drop(df[df['Borough'] =='Not assigned'].index, inplace = True)

In [7]:
df.shape

(103, 3)

In [8]:
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East York            5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

<h2>Making sure we dont have any duplicates in Postal Code column</h2>

In [9]:
df.loc[df['Postal Code']=='M5A'] #using postal code from example

  Postal Code           Borough               Neighborhood
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [10]:
print(df.groupby(['Postal Code']).count()) #total 103 rows out of 103 from dataframe

             Borough  Neighborhood
Postal Code
M1B                1             1
M1C                1             1
M1E                1             1
M1G                1             1
M1H                1             1
...              ...           ...
M9N                1             1
M9P                1             1
M9R                1             1
M9V                1             1
M9W                1             1

[103 rows x 2 columns]

<h2>If Neighborhoos is Unassigned, name it after Borough</h2>

In [11]:
df.loc[df['Neighborhood']=='Not assigned'].count()

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

<h3>We dont have any unassigned neighborhoods</h3>

In [12]:
df.shape

(103, 3)

In [13]:
df.to_csv('Postal Codes processed.csv')